a {
  text-decoration: none;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(rgb(156, 38, 30), rgb(156, 38, 30));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s linear;
}

a:hover {
  background-size: 0 2px, 100% 2px;
}
